CREATE DATABASE [quantaphoaTest]
USE [quantaphoa]
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatalogId] [int] NULL,
	[Picture] [nvarchar](max) NULL,
	[ProductName] [nvarchar](250) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[PriceOld] [float] NULL,
	[ProductSale] [nvarchar](50) NULL,
	[UnitPrice] [float] NULL,
	[SoLuong] [int] NULL,
	[ProductSold] [int] NULL,
	[NgayNhapHang] [date] NULL,
	[MoTa] [nvarchar](300) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[UF_SelectAllProduct]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_SelectAllProduct]()
RETURNS TABLE 
AS RETURN SELECT * FROM dbo.Product
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[ID] [int] NOT NULL,
	[CatalogCode] [nvarchar](50) NULL,
	[CatalogName] [nvarchar](250) NULL,
	[ProductOrigin] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Picture] [nvarchar](max) NULL,
	[Address] [nvarchar](250) NULL,
	[NgaySinh] [date] NULL,
	[CMT] [nvarchar](50) NULL,
	[Sdt] [char](10) NULL,
	[TichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[NgaySinh] [date] NULL,
	[Password] [nvarchar](50) NULL,
	[MaChucVu] [int] NULL,
	[Picture] [nvarchar](max) NULL,
	[Sex] [bit] NULL,
	[Sdt] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Payment] [bit] NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[ThanhTien] [float] NULL,
	[TongSoLuong] [int] NULL,
	[Id_NV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[ID_Order] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC,
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 7/11/2024 2:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Catalog] ([ID], [CatalogCode], [CatalogName], [ProductOrigin]) VALUES (1, N'1', N'Các loại đồ ăn lạnh', N'Mỹ')
INSERT [dbo].[Catalog] ([ID], [CatalogCode], [CatalogName], [ProductOrigin]) VALUES (2, N'2', N'Các loại đồ ăn nhanh', NULL)
INSERT [dbo].[Catalog] ([ID], [CatalogCode], [CatalogName], [ProductOrigin]) VALUES (3, N'3', N'Các loại đồ uống', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([MaChucVu], [ChucVu]) VALUES (1, N'Nhân Viên Bán Hàng')
INSERT [dbo].[ChucVu] ([MaChucVu], [ChucVu]) VALUES (2, N'Quản Trị Viên')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([idUser], [FirstName], [LastName], [Email], [Password], [Picture], [Address], [NgaySinh], [CMT], [Sdt], [TichLuy]) VALUES (1053, N'Lam', N'Quy', N'lamphuquy265@gmail.com', N'Quy123456@', N'hinhquy.png', N'Tô Hiến Thành', NULL, N'084202007390', N'0822654123', 0)
INSERT [dbo].[KhachHang] ([idUser], [FirstName], [LastName], [Email], [Password], [Picture], [Address], [NgaySinh], [CMT], [Sdt], [TichLuy]) VALUES (1055, N'Bảo', N'Huy', N'baohuy@gmail.com', N'123456Baohuy', N'user.jpg', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[KhachHang] ([idUser], [FirstName], [LastName], [Email], [Password], [Picture], [Address], [NgaySinh], [CMT], [Sdt], [TichLuy]) VALUES (1056, N'Bao', N'Huy', N'baohuy2002@gmail.com', N'123456Baohuy@', N'T1.jpg', N'Cộng Hòa', CAST(N'2023-11-28' AS Date), N'4556564645', N'0329075634', 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([Id], [FullName], [Email], [Address], [NgaySinh], [Password], [MaChucVu], [Picture], [Sex], [Sdt]) VALUES (0, N'Quang Minh', N'Quangminh@gmail.com', N'881 sư vạn hanh', CAST(N'2003-01-01' AS Date), N'Minh123', 2, N'hinhquy.png', 1, N'098999999 ')
INSERT [dbo].[NhanVien] ([Id], [FullName], [Email], [Address], [NgaySinh], [Password], [MaChucVu], [Picture], [Sex], [Sdt]) VALUES (12, N'Minh Quang', N'Minhquang@gmail.com', N'Cộng Hòa', NULL, N'Minh123', 1, N'323889835_1206297369985547_6904271767357515890_n.jpg', 1, N'098999999 ')
INSERT [dbo].[NhanVien] ([Id], [FullName], [Email], [Address], [NgaySinh], [Password], [MaChucVu], [Picture], [Sex], [Sdt]) VALUES (15, N'Minh', N'Minhdeptrai@gmail.com', N'229/66 Tây Thạnh', CAST(N'2024-06-19' AS Date), N'Minh123', 1, N'user.jpg', 1, N'098444444 ')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Status], [Address], [Payment], [NgayDat], [NgayGiao], [ThanhTien], [TongSoLuong], [Id_NV]) VALUES (4, N'Chưa giao hàng', N'285 Cộng Hòa', NULL, CAST(N'2024-07-10T00:00:00.000' AS DateTime), CAST(N'2024-11-11T00:00:00.000' AS DateTime), 150000, 5, 12)
INSERT [dbo].[Order] ([ID], [Status], [Address], [Payment], [NgayDat], [NgayGiao], [ThanhTien], [TongSoLuong], [Id_NV]) VALUES (5, N'Chưa giao hàng', N'881 sư vạn hanh', 0, CAST(N'2024-07-10T08:09:11.670' AS DateTime), CAST(N'2024-07-13T08:09:11.670' AS DateTime), 2505000, 2, 0)
INSERT [dbo].[Order] ([ID], [Status], [Address], [Payment], [NgayDat], [NgayGiao], [ThanhTien], [TongSoLuong], [Id_NV]) VALUES (6, N'Chưa giao hàng', N'881 sư vạn hanh', 0, CAST(N'2024-07-11T13:47:43.593' AS DateTime), CAST(N'2024-07-14T13:47:43.593' AS DateTime), 2505000, 2, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Order_Detail] ([ID_Order], [ID_Product], [SoLuong], [Price]) VALUES (5, 3, 1, 5000)
INSERT [dbo].[Order_Detail] ([ID_Order], [ID_Product], [SoLuong], [Price]) VALUES (5, 4, 1, 2500000)
INSERT [dbo].[Order_Detail] ([ID_Order], [ID_Product], [SoLuong], [Price]) VALUES (6, 3, 1, 5000)
GO
INSERT [dbo].[Order_Status] ([Status]) VALUES (N'Chưa giao hàng')
INSERT [dbo].[Order_Status] ([Status]) VALUES (N'Đã hủy')
INSERT [dbo].[Order_Status] ([Status]) VALUES (N'Đang giao hàng')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [CatalogId], [Picture], [ProductName], [ProductCode], [PriceOld], [ProductSale], [UnitPrice], [SoLuong], [ProductSold], [NgayNhapHang]) VALUES (3, 2, N'031040_10072024.png', N'Mì tôm 3 miền', N'PR6000', 5000, N'0', 5000, 100, 0, CAST(N'2024-07-10' AS Date))
INSERT [dbo].[Product] ([Id], [CatalogId], [Picture], [ProductName], [ProductCode], [PriceOld], [ProductSale], [UnitPrice], [SoLuong], [ProductSold], [NgayNhapHang]) VALUES (4, 2, N'071628_10072024.png', N'MÌ 3 MIỀN', N'PR5125', 2500000, N'0', 2500000, 52, 0, CAST(N'2024-07-10' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order] FOREIGN KEY([Id_NV])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CatalogId])
REFERENCES [dbo].[Catalog] ([ID])

CREATE TABLE [dbo].[DoanhThuView](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Thang] [nvarchar](10) NOT NULL,
    [TongDoanhThu] [float] NOT NULL,
    [NgayTao] [datetime] DEFAULT GETDATE(),
    [OrderId] [int] NULL,  -- Thêm khóa ngoại đến bảng Order
    [NhanVienId] [int] NULL,  -- Thêm khóa ngoại đến bảng NhanVien
 CONSTRAINT [PK_DoanhThuView] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Thêm ràng buộc khóa ngoại đến bảng Order
ALTER TABLE [dbo].[DoanhThuView]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThuView_Order] 
FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([ID])
GO

-- Thêm ràng buộc khóa ngoại đến bảng NhanVien
ALTER TABLE [dbo].[DoanhThuView]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThuView_NhanVien] 
FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([Id])
GO

-- Thêm một số dữ liệu mẫu với khóa ngoại
INSERT INTO [dbo].[DoanhThuView] ([Thang], [TongDoanhThu], [OrderId], [NhanVienId])
VALUES 
    ('7/2024', 5010000, 4, 12),  -- Liên kết với Order ID 4 và NhanVien ID 12
    ('7/2024', 2505000, 5, 0),   -- Liên kết với Order ID 5 và NhanVien ID 0
    ('7/2024', 2505000, 6, 0)    -- Liên kết với Order ID 6 và NhanVien ID 0
GO

-- Thêm các cột mới cho chức năng đặt lại mật khẩu
ALTER TABLE [dbo].[KhachHang]
ADD MaResetMatKhau nvarchar(100) NULL, -- Mã thông báo để đặt lại mật khẩu
    ThoiHanMaReset datetime NULL;      -- Thời hạn hiệu lực của mã reset
GO

-- Thêm cột thời gian tạo tài khoản với giá trị mặc định là thời gian hiện tại
ALTER TABLE [dbo].[KhachHang]
ADD NgayTao datetime DEFAULT GETDATE();
GO

-- Đảm bảo mã reset mật khẩu là duy nhất nếu không NULL
ALTER TABLE [dbo].[KhachHang]
ADD CONSTRAINT UQ_KhachHang_MaResetMatKhau 
UNIQUE (MaResetMatKhau);
GO

-- Thêm ràng buộc để đảm bảo thời hạn mã reset luôn lớn hơn thời gian hiện tại khi được tạo
ALTER TABLE [dbo].[KhachHang]
ADD CONSTRAINT CHK_KhachHang_ThoiHanMaReset
CHECK (ThoiHanMaReset > GETDATE() OR ThoiHanMaReset IS NULL);
GO

-- Thêm ràng buộc để đảm bảo mã reset và thời hạn phải cùng có giá trị hoặc cùng NULL
ALTER TABLE [dbo].[KhachHang]
ADD CONSTRAINT CHK_KhachHang_MaReset
CHECK (
    (MaResetMatKhau IS NULL AND ThoiHanMaReset IS NULL) OR 
    (MaResetMatKhau IS NOT NULL AND ThoiHanMaReset IS NOT NULL)
);
GO

-- Tạo chỉ mục để tối ưu tìm kiếm khi đặt lại mật khẩu
CREATE NONCLUSTERED INDEX IX_KhachHang_MaResetMatKhau
ON [dbo].[KhachHang](MaResetMatKhau)
WHERE MaResetMatKhau IS NOT NULL;
GO

-- Thêm cột ID_KH vào bảng [Order]  
ALTER TABLE [dbo].[Order]
ADD ID_KH int NULL;
GO

-- Tạo foreign key liên kết với bảng KhachHang
ALTER TABLE [dbo].[Order]
ADD CONSTRAINT FK_Order_KhachHang 
FOREIGN KEY (ID_KH) REFERENCES [dbo].[KhachHang](idUser);
GO


create table DanhGia(
	Id int identity(1,1) primary key,
	[Content] nvarchar(MAX),
	Rating float,
	Ngaycapnhap datetime,
	trangthai int default 0,
	id_sp int references Product(Id),
	id_kh int references KhachHang(idUser)
)
go


SET IDENTITY_INSERT [dbo].[Product] ON;

INSERT [dbo].[Product] ([Id], [CatalogId], [Picture], [ProductName], [ProductCode], [PriceOld], [ProductSale], [UnitPrice], [SoLuong], [ProductSold], [NgayNhapHang])
VALUES (5, 1, N'sua_tuoi_07072024.png', N'Sữa tươi', N'PR7001', 30000, N'5', 28500, 100, 50, CAST(N'2024-07-11' AS Date));




















SET IDENTITY_INSERT [dbo].[Product] OFF;
GO

DECLARE @m INT = 1, @totalMonths INT = 14;  -- 12 tháng năm 2024 và 2 tháng đầu năm 2025
DECLARE @year INT, @month INT;
DECLARE @orderCount INT, @orderIndex INT;
DECLARE @randDay INT;
DECLARE @orderDate DATETIME, @deliveryDate DATETIME, @thanhTien FLOAT, @tongSoLuong INT;
DECLARE @randMinutes INT, @randPayment INT;
DECLARE @randStatus INT;
DECLARE @statusValue NVARCHAR(50);

WHILE @m <= @totalMonths
BEGIN
    -- Xác định năm và tháng theo chỉ số @m:
    -- Nếu @m từ 1 đến 12 thì năm 2024, nếu @m = 13,14 thì năm 2025 (tháng = @m - 12)
    SET @year = CASE WHEN @m <= 12 THEN 2024 ELSE 2025 END;
    SET @month = CASE WHEN @m <= 12 THEN @m ELSE @m - 12 END;
    
    -- Lấy số đơn hàng ngẫu nhiên cho tháng này: 1 hoặc 2 đơn
    SET @orderCount = (ABS(CHECKSUM(NEWID())) % 2) + 1;
    
    SET @orderIndex = 1;
    WHILE @orderIndex <= @orderCount
    BEGIN
        -- Chọn ngẫu nhiên một ngày trong tháng từ 1 đến 28
        SET @randDay = (ABS(CHECKSUM(NEWID())) % 28) + 1;
        SET @orderDate = DATEFROMPARTS(@year, @month, @randDay);
        -- Ngày giao hàng = NgayDat + 3 ngày
        SET @deliveryDate = DATEADD(DAY, 3, @orderDate);
        
        -- ThanhTien: ngẫu nhiên từ 10.000 đến 100.000
        SET @thanhTien = (ABS(CHECKSUM(NEWID())) % 90000) + 10000;
        -- TongSoLuong: ngẫu nhiên từ 1 đến 5
        SET @tongSoLuong = (ABS(CHECKSUM(NEWID())) % 5) + 1;
        -- Payment: 0 hoặc 1
        SET @randPayment = (ABS(CHECKSUM(NEWID())) % 2);
        -- Số phút thêm vào NgayDat để tạo NgayCapNhat (0 đến 59 phút)
        SET @randMinutes = (ABS(CHECKSUM(NEWID())) % 60);
        
        -- Sinh trạng thái ngẫu nhiên từ 4 trạng thái
        SET @randStatus = (ABS(CHECKSUM(NEWID())) % 4) + 1;
        SET @statusValue = CASE @randStatus
                                WHEN 1 THEN N'Chưa giao hàng'
                                WHEN 2 THEN N'Đang giao hàng'
                                WHEN 3 THEN N'Hoàn thành'
                                WHEN 4 THEN N'Đã hủy'
                           END;
        
        DECLARE @ngayCapNhat DATETIME = DATEADD(MINUTE, @randMinutes, @orderDate);

        
        SET @orderIndex = @orderIndex + 1;
    END;
    
    SET @m = @m + 1;
END;
